﻿@model CarBox.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Mark</dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>Number</dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>Color</dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>Model</dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
    </dl>

    <div>
        <form asp-controller="Cars" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>