﻿@model CarBox.Models.Car

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Mark" class="control-label"></label>
        <input asp-for="Mark" class="form-control" />
        <span asp-validation-for="Mark"></span>
    </div>
    <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color" class="control-label"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model"></span>
    </div>
    <div class="form-group">
        <label asp-for="User" class="control-label"></label>
        @Html.DropDownList("UserId", ViewBag.Users as SelectList, new { @class = "form-control" })
        <span asp-validation-for="UserId"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}