﻿@model IEnumerable<CarBox.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="ibox-title">
        <h5>Index</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover dataTables-index">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Number</th>
                    <th>Color</th>
                    <th>Mark</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Mark</td>
                        <td>@item.Number</td>
                        <td>@item.Color</td>
                        <td>@item.Model</td>
                        
                        <td>
                            |
                            <a asp-action="Edit" asp-controller="Cars" asp-route-id="@item.Id">Изменить</a> |
                            <a asp-action="Delete" asp-controller="Cars" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-index').dataTable();
        })
    </script>
}