﻿@model CarBox.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>FirstName</dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>LastName</dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>Address</dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>Date</dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>Phone</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    <div>
        <form asp-controller="Users" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
