﻿@model IEnumerable<CarBox.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="ibox-title">
        <h1>Index</h1>
    </div>
    <div class="ibox-content">
        @if (ViewBag.Role == "admin")
        {
            <a asp-action="Create">Create New</a>
        }
        <table class="table table-striped table-bordered table-hover dataTables-index">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Address</td>
                        <td>@item.Date</td>
                        <td>@item.Phone</td>
                        <td>
                            @if (ViewBag.Role == "admin")
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-index').dataTable();
        })
    </script>
}

