﻿@model CarBox.Models.User
@{
    ViewData["Title"] = "Account";
}

<h2>Account</h2>
<form asp-controller="Account" asp-action="Account" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <div class="form-group col-lg-8">
        <div>
            <label asp-for="Email" class="control-label">Email</label><br>
            @Html.TextBoxFor(model => model.Email, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div>
            <label asp-for="FirstName" class="control-label">FirstName</label><br>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName" class="control-label">LastName</label><br>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Address" class="control-label">Address</label><br>
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            <span asp-validation-for="Address"></span>
        </div>
        <div>
            <label asp-for="Date" class="control-label">Date</label><br>
            @Html.TextBoxFor(model => model.Date, new { @class = "form-control" })
            <span asp-validation-for="Date"></span>
        </div>
        <div>
            <label asp-for="Phone" class="control-label">Phone</label><br>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
            <span asp-validation-for="Phone"></span>
        </div>
        <div>
            <label asp-for="Password" class="control-label">Password</label><br>
            <a class="form-control" asp-area="" asp-controller="Account" asp-action="ChangePassword">*change the password</a>
        </div><br>
        <input type="submit" class="btn btn-default" value="Сохранить" />
    </div>
</form>


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}





