﻿@model CarBox.Models.AccountModels.Change
@{
    ViewData["Title"] = "ChangePassword";
}
<!DOCTYPE html>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>CarBox</h3>
        <p>Check the password</p>
        <form class="m-t" role="form" asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="NewPassword" required="" asp-for="NewPassword">
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="ConfirmNewPassword" required="" asp-for="ConfirmNewPassword">
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Сохранить</button>
        </form>
    </div>
</div>




@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}




