﻿
@{
    ViewData["Title"] = "Failed";
}
<!DOCTYPE html>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>Carplace</h3>
        <p>Такой пользователь не найден</p>
        <a asp-action="Login" asp-controller="Account">Вход</a>
        <a asp-action="Register" asp-controller="Account">Регистрация</a>
    </div>
</div>




@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



