﻿@model CarBox.Models.AccountModels.Login
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title</title>

        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">

    </head>
    <body class="gray-bg">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <h1 class="logo-name">CB</h1>
            </div>
            <div>
                <h3>CarBox</h3>
                <p>Login in. To see it in action.</p>
                <a asp-action="Register" asp-controller="Account">Регистрация</a>
                <form class="m-t" role="form" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly" />
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                </form>
                <a asp-action="RecoveryPassword" asp-controller="Account">Восстановление пароля</a>
            </div>
        </div>
        <script src="~/js/jquery-2.1.1.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
    </body>

