﻿
@{
    ViewData["Title"] = "Message";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name">CP</h1>
        </div>
        <div>
            <h3>Carplace</h3>
            <p>Мы отправили вам письмо для восстановления пароля</p>
            <a asp-action="Login" asp-controller="Account">Вход</a>
            <a asp-action="Register" asp-controller="Account">Регистрация</a>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>


