﻿@model CarBox.Models.AccountModels.NewPassword
@{
    ViewData["Title"] = "Restore";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h3>Carplace</h3>
            <p>Check the password</p>
            <form class="m-t" role="form" asp-action="SetNewPassword" asp-controller="Account" asp-anti-forgery="true">
                <input type="hidden" class="form-control" asp-for="RestoreId">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm New Password" required="" asp-for="ConfirmNewPassword">
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Сохранить</button>
            </form>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>

