﻿@model CarBox.Models.AccountModels.Recovery
@{
    ViewData["Title"] = "RecoveryPassword";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name">CP</h1>
        </div>
        <div>
            <h3>CarBox</h3>
            <p>Забыли пароль? Введите ваш Email</p>
            <form class="m-t" role="form" asp-action="RecoveryPassword" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Отправить</button>
            </form>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>



