﻿@model CarBox.Models.AccountModels.Register
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <h1 class="logo-name">CB</h1>
        </div>
        <div>
            <h3>Register to CarBox</h3>
            <form class="m-t" role="form" asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="FirstName" required="" asp-for="FirstName">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="LastName" required="" asp-for="LastName">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="ConfirmPassword" required="" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" required="" asp-for="Address">
                    <span asp-validation-for="Address"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Date" required="" asp-for="Date">
                    <span asp-validation-for="Date"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone" required="" asp-for="Phone">
                    <span asp-validation-for="Phone"></span>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
            </form>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
